@import "../../abstracts/variables.scss";

.projects {
  margin-top: 50px;
  margin-bottom: 100px;
  .header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    .right {
      position: absolute;
      top: 4.5rem;
      left: 50%;
      right: 2rem;
      height: 3rem;
      border-right: 2px solid $grey;
      border-top: 2px solid $grey;
      border-bottom: 2px solid $grey;
      z-index: -1;
    }
    .left {
      position: absolute;
      top: 7.5rem;
      left: 2rem;
      right: 50%;
      height: 3rem;
      border-left: 2px solid $grey;
      border-top: 2px solid $grey;
      border-bottom: 2px solid $grey;
      z-index: -1;
      .bird {
        position: absolute;
        left: 10vw;
        bottom: 0.75rem;
        height: 8rem;
      }
    }

    .titleblock {
      display: flex;
      flex-direction: column;
      h1 {
        color: $orange;
        margin-left: 2rem;
        margin-bottom: 0.5rem;
      }
      .title {
        display: flex;
        flex-direction: column;
        .text {
          display: flex;
          margin-bottom: 5px;
          &:nth-child(2) {
            margin-left: 5rem;
          }
          &:nth-child(3) {
            margin-left: 16rem;
          }
          span {
            display: flex;
            position: relative;
            font-family: "Inter", sans-serif;
            font-weight: 700;
            background-color: $background;
            padding: 0 2rem;
            &.orange {
              color: $orange;
            }
          }
        }
      }
    }
  }

  .directions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    .block {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid $orange;
      gap: 2rem;
      padding: 60px 38px 42px 30px;
      .icon {
        height: 10rem;
        width: 12rem;
        .svg {
          height: 100%;
          width: 100%;
        }
      }

      .text {
        display: flex;
        flex-direction: column;
        h5 {
          font-family: "Inter", sans-serif;
          font-weight: 700;
          margin-bottom: 1rem;
        }
        .line {
          height: 1px;
          width: 100%;
          background: $orange;
          margin-top: 0.5rem;
          margin-bottom: 1rem;
        }
        .icon {
          width: 1.25rem;
          height: 1.25rem;
        }
      }
    }
  }

  .possibilities {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    p {
      max-width: 800px;
      font-size: 1.25rem;
      text-align: center;
      span {
        font-weight: 600;
      }
    }
  }
}
