@import "../../styles/abstracts/variables.scss";

.container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin-top: 2rem;
  .theme {
    display: grid;
    grid-template-columns: 1fr 400px;
    gap: 5rem;
    .about {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      max-width: 600px;
      .text {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        .tags {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          row-gap: 3px;
          column-gap: 6px;
          font-weight: 500;
        }
      }
    }
    .works {
      display: flex;
      flex-direction: column;

      .title {
        font-weight: 600;
        margin-bottom: 1rem;
      }
      .list {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-bottom: 5px;
      }
      .open {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 1rem;
        height: 3rem;
        background-color: $green;
        .text {
          font-weight: 500;
          color: white;
        }
        .icon {
          display: flex;
          align-items: center;
          justify-content: center;
          border-left: 1px solid white;
          height: 100%;
          width: calc(6rem + 6px);
          .svg {
            color: white;
            width: 1.15rem;
            height: 1.15rem;
          }
        }
        &:hover .svg {
          animation: shake 0.4s ease-in-out;
        }
        &:hover .text {
          animation: shake-text 0.6s linear;
        }
      }
    }
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px) rotate(-8deg);
  }
  50% {
    transform: translateX(0) rotate(0);
  }
  75% {
    transform: translateX(2px) rotate(8deg);
  }
  100% {
    transform: translateX(0) rotate(0);
  }
}

@keyframes shake-text {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-1px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(0);
  }
}
