@import "../../styles/abstracts/variables.scss";

.container {
  border-top: 1px solid $green;
  padding-top: 4rem;
  margin-bottom: 6rem;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    .right {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
}
