@import "../../styles/abstracts/variables.scss";

.container {
  display: grid;
  grid-template-columns: 1fr 500px;
  gap: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  .user {
    display: flex;
    .avatar {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 8rem;
      height: 8rem;
      margin-right: 2rem;
      background: $orange;
      p {
        color: white;
        font-size: 2.5rem;
        font-weight: 600;
      }
    }
    .info {
      display: flex;
      flex-direction: column;
      gap: 6px;
      h3 {
        font-family: "Inter", sans-serif;
        font-weight: 700;
      }
      .logout {
        display: flex;
        align-items: center;
        height: 3rem;
        gap: 6px;
      }
    }
  }
  .directions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2rem;
    .link {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border: 1px solid $green;
      height: 3rem;
      padding: 0 2rem;
      text-align: center;
      font-weight: 500;
      color: $green;
    }
  }
}
