@import "../../styles/abstracts/variables.scss";

.container {
  padding-bottom: 4rem;
  .block {
    padding-top: 4rem;
    margin-bottom: 6rem;
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .progress {
      margin-top: 2rem;
      .bar {
        position: relative;
        margin-top: 2rem;
        margin-bottom: 2rem;
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        background: $orange;
        &::after {
          position: absolute;
          content: "";
          top: 1rem;
          left: 1rem;
          background: $background;
          z-index: 1;
          width: 6rem;
          height: 6rem;
          border-radius: 50%;
        }
        &::before {
          position: absolute;
          content: "100%";
          top: 3.25rem;
          left: 2.2rem;
          z-index: 5;
          font-size: 1.5rem;
          font-weight: 600;
        }
      }
      .works {
        display: grid;
        grid-template-columns: 2fr 3fr;
        gap: 4rem;
        .list {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 1rem;
          .item {
            display: flex;
            align-items: center;
            justify-content: center;
            background: $green;
            color: white;
            font-weight: 500;
            height: 3rem;
          }
        }
        .advenced {
          display: flex;
          flex-direction: column;

          .topic {
            border-bottom: 1px solid $green;
            padding: 1rem;
          }
          .link {
            border: 1px solid $green;
            margin-top: 1rem;
            padding: 1rem;
            font-weight: 600;
          }
        }
      }
    }
  }
}
