@import "../../styles/abstracts/variables.scss";

.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  .title {
    font-weight: 300;
    font-size: 1.1rem;
    margin-bottom: 5px;
  }
  .result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: $beige;
    width: 250px;
    text-align: center;
    .status {
      font-size: 1.1rem;
      font-weight: 500;
    }
  }
  .block {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 4px;
    background-color: $beige;
    width: 250px;
    &.active {
      grid-template-rows: 1fr 1fr;
    }
    .field {
      display: flex;
      align-items: center;
      justify-content: center;
      height: $heightButton;
      border: 1px solid $green;
      padding: 0 1rem;
      width: 100%;
      input {
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        &::placeholder {
          font-weight: 300;
          text-align: center;
          text-transform: initial;
        }
      }
    }
  }
}

.buttongreen {
  background-color: $green;
  color: white;
  width: 100%;
}
