@import "../../../styles/abstracts/variables.scss";

.content {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 30px 50px;
  padding-right: 40px;
  padding-bottom: 50px;
  padding-top: 35px;
  margin-right: 2px;
  gap: 20px;
  h5 {
    margin-bottom: 2rem;
    padding-right: 60px;
  }
  .avatar {
    height: 20rem;
    width: 100%;
    @media (max-width: $mobile) {
      height: 90vw;
    }
  }
  .price {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .head {
      margin-top: 20px;
      margin-bottom: 10px;
      color: $green;
    }
    .list {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .block {
        .title {
          font-weight: 500;
          color: $green;
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}

.hint {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: $heightButton;
  padding-right: 12px;
  gap: 8px;
  color: $green;
  border: 1px solid $green;
  background-color: $background;
  font-weight: 500;
  .text {
    text-align: center;
    line-height: 1;
    font-weight: 500;
  }
  .icon {
    width: 1.3rem;
    height: 1.3rem;
    svg {
      width: 100%;
      height: 100%;
    }
  }
}
.del {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: $heightButton;
  padding-right: 12px;
  gap: 8px;
  color: $brown;
  background-color: $background;
  cursor: pointer;
  font-weight: 500;
  border: 1px solid $brown;
  &:hover .icon .svg {
    animation: shake 0.4s ease-in-out;
  }
  &:hover .text::after {
    right: 0px;
    opacity: 1;
  }
  .text {
    position: relative;
    text-align: center;
    line-height: 1;
    font-weight: 600;
    &::after {
      position: absolute;
      right: -4px;
      bottom: -4px;
      content: "";
      height: 1px;
      width: 100%;
      opacity: 0;
      background: currentColor;
      transition: all 0.15s;
      transition-timing-function: cubic-bezier(0.42, 0.5, 0.39, 1);
    }
  }
  .icon,
  .load {
    width: 1.3rem;
    height: 1.3rem;
    svg {
      width: 100%;
      height: 100%;
    }
  }
  &.loading {
    background-color: $background;
    color: $brown;
    cursor: auto;
    pointer-events: none;
  }
}

// Для кнопки добавить эксперта
.send {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: $heightButton;
  padding-right: 12px;
  margin-top: 20px;
  gap: 8px;
  color: white;
  background-color: $green;
  cursor: pointer;
  font-weight: 500;
  border: 1px solid $green;
  &:hover .icon .svg {
    animation: shake 0.4s ease-in-out;
  }
  &:hover .text::after {
    right: 0px;
    opacity: 1;
  }
  .text {
    position: relative;
    text-align: center;
    line-height: 1;
    font-weight: 600;
    color: white;
    &::after {
      position: absolute;
      right: -4px;
      bottom: -4px;
      content: "";
      height: 1px;
      width: 100%;
      opacity: 0;
      background: currentColor;
      transition: all 0.15s;
      transition-timing-function: cubic-bezier(0.42, 0.5, 0.39, 1);
    }
  }
  .icon,
  .load {
    width: 1.3rem;
    height: 1.3rem;
    svg {
      width: 100%;
      height: 100%;
    }
  }
  &.loading {
    background-color: $background;
    color: $green;
    cursor: auto;
    pointer-events: none;
    .text {
      color: $green;
    }
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px) rotate(-8deg);
  }
  50% {
    transform: translateX(0) rotate(0);
  }
  75% {
    transform: translateX(2px) rotate(8deg);
  }
  100% {
    transform: translateX(0) rotate(0);
  }
}

// Для поля ввода текста
.input {
  display: flex;
  align-items: center;
  height: $heightButton;
  border: 1px solid rgba($color: $green, $alpha: 0.25);
  background: $background;
  font-weight: 500;
  transition: all 0.4s;
  input,
  select {
    padding: 0 1rem;
    width: 100%;
    height: 100%;
    color: $green;
    &::placeholder {
      color: $green;
      font-weight: 300;
      transition: all 0.3s;
    }
  }
  input {
    font-weight: 500;
  }
  select {
    font-weight: 300;
    &.selected {
      font-weight: 500;
    }
  }
  .rub {
    margin-right: 1rem;
    color: $green;
  }
}

// Загрузка файла
.fileupload {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 1;
  cursor: pointer;
  overflow: hidden;
  transition: 0.4s;
  .inputfile {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    &.notactive {
      pointer-events: none;
    }
  }
  .preview {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &:hover .load.hide {
    background-color: rgba($color: black, $alpha: 0.75);
    p {
      opacity: 1;
    }
    .svg {
      opacity: 1;
    }
  }
  .load {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    width: 100%;
    height: 100%;
    color: $green;
    font-weight: 500;
    z-index: 5;
    pointer-events: none;
    &.hide {
      transition: all 0.6s;
      p {
        opacity: 0;
        color: white;
        transition: all 0.4s;
        animation-delay: 0.1s;
      }
      .svg {
        opacity: 0;
        color: white;
        transition: all 0.4s;
        animation-delay: 0.1s;
      }
    }
    .svg {
      height: 1.5rem;
      width: 1.5rem;
      color: $green;
    }
  }
}
