// Breakpoints
$large: 1920px;
$medium: 1440px;
$tablet: 1025px;
$mobile: 600px;
$pager: 350px;

// высота кнопок
$heightButton: 40px;

// максимальная ширина текстового блока в заданиях
$maxwidth: 800px;

// Типографика для заданий
$headmain: 40px;
$headsecond: 24px;
$regulartext: 18px;

// Colors
$black: #424242;

$background: #f3eee1;
$green: #4e8a7f;
$beige: #e9e1ce;
$yellow: #efdc77;

$lightgreen: #89a17d;
$darkgreen: #335e1e;

$orange: #d75935;
$brown: #a93601;
$pink: #f1e0d6;
$grey: #919091;

// Цвет для заголовков в теме
$headwork: #d8ccb8;

// Основной цвет в теме
$mainwork: #436b4c;

$blockquote: #f5eabc;
$blockquoteline: #d0b439;
