// Breakpoints
$large: 1920px;
$medium: 1440px;
$tablet: 1025px;
$mobile: 600px;
$pager: 350px;

// Colors
$background: #f3eee1;
$green: #43702c;
$lightgreen: #89a17d;
$darkgreen: #335e1e;
$orange: #ed6c31;
$brown: #a93601;
$grey: #919091;
$beige: #fcedc6;
