@import "../../styles/abstracts/variables.scss";

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  @media (max-width: $mobile) {
    display: flex;
    padding: 0px 20px;
  }
  .block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @media (max-width: $mobile) {
      color: $green;
    }
    &.linkwork .text {
      position: relative;
      transition: color 0.2s cubic-bezier(0.23, 0.67, 0.58, 1);
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0%;
        height: 1px;
        background: $green;
        transition: all 0.3s;
      }
      &:hover::after {
        width: 100%;
      }
    }
    .text {
      font-weight: 600;
      padding: 1px 0;
      color: $green;
    }
    .editlink {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      transition: all 0.2s cubic-bezier(0.23, 0.67, 0.58, 1);
      border: 1px solid transparent;
      width: 100%;
      margin-top: -5px;
      @media (max-width: $mobile) {
        display: none;
      }
      &.edited {
        border: 1px solid $green;
        margin-top: 10px;
        .edit,
        .back,
        .save {
          padding: 0 30px;
        }
        .link {
          color: $green;
        }
        .back {
          border-right: 1px solid $green;
        }
      }
      .link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: $heightButton;
        padding: 0 1rem;
        width: 100%;
        opacity: 0;
        transition: all 0.4s;
        &.visible {
          opacity: 1;
        }
        input {
          width: 100%;
          font-weight: 500;
          line-height: 1.35;
          padding: 0;
          color: currentColor;
          &::placeholder {
            color: $green;
            transition: all 0.3s;
          }
        }
      }
      .edit,
      .back,
      .save {
        padding: 0;
        width: auto;
        transition: all 0.2s cubic-bezier(0.23, 0.67, 0.58, 1);
      }
      .edit,
      .back {
        color: $green;
      }
      .save {
        background-color: $green;
        color: white;
      }
      .back {
        border-left: 1px solid transparent;
      }
    }
  }
}
