@import "../../styles/abstracts/variables.scss";

.container {
  background-color: $beige;
  &.complete {
    border: 1px solid $green;
  }
}

.card {
  display: grid;
  grid-template-columns: 1fr 200px;

  .button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 14px 20px;
    &:hover {
      .hint {
        .icon,
        .text {
          opacity: 1;
          transform: translateY(0px);
        }
      }
      .info {
        .title {
          color: $green;
        }
      }
    }
    .info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 4px;
      .title {
        font-size: 1.1rem;
        line-height: 1;
        font-weight: 600;
        transition: all 0.2s;
        transition-timing-function: cubic-bezier(0.42, 0.5, 0.39, 1);
      }
      .complexity {
        display: flex;
        align-items: center;
        p {
          text-align: start;
          min-width: 150px;
          font-size: 0.9rem;
          padding-right: 30px;
          span {
            font-weight: 600;
          }
        }
      }
    }
    .hint {
      display: flex;
      align-items: center;
      gap: 8px;
      .text {
        color: $green;
        font-weight: 500;
        opacity: 0;
        transform: translateY(-15px);
        transition: all 0.5s;
        transition-timing-function: cubic-bezier(0.42, 0.5, 0.39, 1);
      }
      .icon {
        width: 1.25rem;
        height: 1.25rem;
        opacity: 0;
        color: $green;
        transform: translateY(-12px);
        transition: all 0.4s;
        transition-delay: 0.2s;
        transition-timing-function: cubic-bezier(0.42, 0.5, 0.39, 1);
      }
    }
  }
  .link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    border-left: 1px solid $green;
  }
}

.detail {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: $beige;
  border-top: 1px solid $green;
  padding: 14px 20px;
  .title {
    font-size: 1.1rem;
    font-weight: 600;
  }
  .about {
    max-width: 600px;
    margin-bottom: 10px;
    span {
      font-weight: 600;
    }
  }
}

.buttongreen {
  background-color: transparent;
  color: $green;
  width: 100%;
  height: 100%;
}
