@import "../../styles/abstracts/variables.scss";

.direction {
  .title {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    @media (max-width: $tablet) {
      margin-bottom: 25px;
    }
    h1 {
      font-weight: 500;
    }
  }
  .list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 6px;
    @media (max-width: $tablet) {
      gap: 4px;
    }
  }
}

.themes {
  margin-top: 50px;
  .title {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  .items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    @media (max-width: $tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: $mobile) {
      display: flex;
      flex-direction: column;
    }
  }
}

.link {
  background-color: $beige;
  color: $green;
  &.active {
    background-color: $green;
    color: white;
  }
}
