@import "../abstracts/variables.scss";

.users {
  padding-top: 100px;
}

.promo {
  padding-top: 100px;
  margin-bottom: 100px;
  .block {
    display: flex;
    flex-direction: column;
    .title {
      font-size: 1.25rem;
      font-weight: 500;
      margin-bottom: 1rem;
    }
    .list {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .item {
        display: grid;
        grid-template-columns: 1rem repeat(5, 1fr);
        align-items: center;
        padding-left: 1rem;
        gap: 1rem;
        height: $heightButton;
        background-color: $beige;
        text-align: center;
      }
    }
  }
}
