@import "../../styles/abstracts/variables.scss";

.container {
  display: grid;
  grid-template-columns: 18rem 1fr auto;
  @media (max-width: $tablet) {
    display: flex;
  }
  .navigation {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    overflow-y: auto;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    @media (max-width: $tablet) {
      display: none;
    }
    &::-webkit-scrollbar {
      width: 0px;
    }
    nav {
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 15px;
      justify-content: flex-start;
      padding: 15px;
      padding-right: 0;
      width: 100%;
    }
  }

  .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 75px;
    height: 100vh;
    padding-left: 1rem;
    padding-bottom: 50px;
    padding-top: 50px;
    overflow-y: auto;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    @media (max-width: $tablet) {
      padding-left: 20px;
      padding-right: 20px;
      height: auto;
    }
    @media (max-width: $mobile) {
      padding: 0;
    }
    &::-webkit-scrollbar {
      width: 0px;
    }
    .head {
      display: flex;
      flex-direction: column;
      gap: 25px;
      width: 100%;
      max-width: $maxwidthwide;
    }
    .section {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 100%;
      max-width: $maxwidth;
      @media (max-width: $mobile) {
        padding: 0 20px;
      }
      .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .title {
          font-weight: 600;
          font-size: $headmain;
          @media (max-width: $mobile) {
            line-height: 1;
            font-size: $headmainmobile;
          }
        }
      }
      .text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        strong {
          font-weight: 600;
        }
        em {
          font-style: italic;
        }
        ol,
        ul {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          padding-left: 1.5rem;
          li > ol {
            margin-top: 0.5rem;
          }
        }
        ol {
          list-style: decimal;
        }
        ul {
          list-style: disc;
        }
        blockquote {
          padding: 25px 30px 25px 50px;
          padding-right: 4rem;
          width: 100%;
          border: 1px solid $green;
          border-left: 8px solid $green;
          @media (max-width: $mobile) {
            padding: 15px 25px;
            padding-right: 25px;
            border-left: 4px solid $green;
          }
          ol {
            margin-top: 10px;
          }
          h2 {
            margin-bottom: 0.5rem;
          }
        }

        table {
          width: 100%;
          margin: 1rem 0;
          thead {
            tr {
              display: flex;
              justify-content: space-between;
              gap: 1rem;

              th {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-grow: 1;
                span {
                  width: 100%;
                  height: 100%;
                  img {
                    object-fit: cover;
                  }
                }
              }
            }
          }
        }

        a {
          position: relative;
          font-weight: 600;
          color: $green;
          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -1px;
            width: 0%;
            height: 2px;
            background: currentColor;

            transition: all 0.3s;
          }
          &:hover::after {
            width: 100%;
          }
        }
      }
    }
  }
}

.section p,
.section li,
.section a {
  font-size: $regulartext;
  line-height: 1.4;
}

.section h2 {
  margin-top: 15px;
  font-size: $headsecond;
  font-weight: 600;
  @media (max-width: $mobile) {
    font-size: $headsecondmobile;
  }
}
