@import "../../styles/abstracts/variables.scss";

.join {
  background-color: $brown;
  color: white;
  padding: 75px 0;
  @media (max-width: $mobile) {
    padding: 50px 0;
  }
  .block {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      max-width: 650px;
      text-align: center;
      margin-bottom: 2rem;
    }
    .action {
      position: relative;
      .bird {
        position: absolute;
        top: -2rem;
        left: -9rem;
        height: 7rem;
        @media (max-width: $mobile) {
          display: none;
        }
      }
    }
  }
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 75px 0;
  @media (max-width: $mobile) {
    flex-direction: column;
    margin: 50px 0;
  }
  .block {
    display: flex;
    align-items: center;
    flex-direction: column;
    span {
      font-weight: 600;
      font-size: 1.15rem;
    }
  }
  .input {
    display: flex;
    align-items: center;
    border: 1px solid $black;
    @media (max-width: $mobile) {
      flex-direction: column;
      width: 300px;
    }
    input {
      height: 100%;
      padding: 0 1rem;
      @media (max-width: $mobile) {
        height: $heightButton;
        width: 100%;
        text-align: center;
      }
    }
  }
}

.buttonwhite {
  background-color: white;
  color: $brown;
  width: 400px;
  @media (max-width: $mobile) {
    width: 300px;
  }
}

.buttonblack {
  background-color: $black;
  color: white;
  width: 150px;
  @media (max-width: $mobile) {
    width: 100%;
  }
}
