@import "../../styles/abstracts/variables.scss";

.section {
  position: relative;
  display: flex;
  align-items: center;
  height: 700px;
  @media (max-width: $tablet) {
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-top: 75px;
  }
  @media (max-width: $mobile) {
    padding-top: 100px;
  }
  .floweryellow {
    position: absolute;
    top: min(14vw, 150px);
    right: min(16vw, 175px);
    width: min(6vw, 90px);
    height: auto;
    @media (max-width: $tablet) {
      top: 15px;
      right: 0px;
      width: 50px;
    }
  }
  .flower {
    position: absolute;
    bottom: -85px;
    right: -25px;
    width: 350px;
    @media (max-width: $tablet) {
      bottom: -38px;
      right: 0px;
      width: 150px;
    }
  }
  .mask {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
    z-index: -1;
    .flowers {
      position: relative;
      bottom: -250px;
      width: 75vw;
      max-width: 1000px;
      @media (max-width: $tablet) {
        width: 450px;
        bottom: -175px;
      }
      @media (max-width: $mobile) {
        width: 400px;
        bottom: -175px;
      }
    }
  }
  .info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    @media (max-width: $tablet) {
      padding-bottom: 150px;
    }
    h1 {
      color: $orange;
      margin-bottom: 1rem;
    }
    p {
      max-width: 400px;
    }
    .start {
      background-color: $green;
      color: white;
      width: 200px;
      font-weight: 600;
      margin-top: 2rem;
    }
  }
}

.about {
  background-color: $brown;
  color: white;
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    .title {
      margin-top: 60px;
      @media (max-width: $tablet) {
        margin-top: 40px;
        max-width: 500px;
        text-align: center;
      }
    }
    .list {
      display: grid;
      grid-template-columns: 2fr 4fr 3fr;
      gap: 2rem;
      width: 100%;
      margin-bottom: 60px;
      @media (max-width: $tablet) {
        display: flex;
        flex-direction: column;
        max-width: 400px;
        gap: 10px;
        margin-bottom: 40px;
      }
      .block {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid white;
        height: $heightButton;
      }
    }
  }
}
