@import "../../styles/abstracts/variables.scss";

.section {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 5rem;
  height: 46vw;
  .birdonbranch {
    position: absolute;
    bottom: 18vw;
    right: 5vw;
    width: 6vw;
  }
  .bird {
    position: absolute;
    top: 120px;
    left: 15vw;
    width: 8vw;
  }
  .flower {
    position: absolute;
    bottom: -4vw;
    width: 20vw;
    margin-left: 48vw;
  }
  .mask {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
    z-index: -1;
    .flowers {
      position: relative;
      bottom: -19vw;
      width: 80vw;
    }
  }
  .info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    h1 {
      color: $orange;
      margin-bottom: 1rem;
    }
    p {
      max-width: 400px;
    }
    .button {
      margin-top: 1rem;
      width: 250px;
    }
  }
}

.about {
  padding: 50px 0;
  border-top: 1px solid $green;
  border-bottom: 1px solid $green;
  .four {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10vw;
    .block {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      .title {
        font-weight: 600;
        color: $grey;
      }
      .description {
        font-size: 1.25rem;
        &.orange {
          font-weight: 600;
          color: $orange;
        }
      }
    }
  }
}
