@import "../../styles/abstracts/variables.scss";

.section {
  margin-top: 100px;
  .header {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    .right {
      position: absolute;
      top: 1rem;
      left: 50%;
      right: 2rem;
      height: 3rem;
      border-right: 1px solid $grey;
      border-top: 1px solid $grey;
      border-bottom: 1px solid $grey;
      z-index: -1;
    }
    .left {
      position: absolute;
      top: 1rem;
      left: 2rem;
      right: 50%;
      height: 3rem;
      border-left: 1px solid $grey;
      border-top: 1px solid $grey;
      border-bottom: 1px solid $grey;
      z-index: -1;
    }

    .title {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      span {
        display: flex;
        position: relative;
        font-family: "Inter", sans-serif;
        font-weight: 700;
        background-color: $background;
        padding: 0 2rem;
        &.orange {
          color: $orange;
        }
      }
    }
  }
  .steps {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .block {
      position: relative;
      display: flex;
      align-items: center;
      gap: 2rem;
      .icon {
        position: relative;
        height: 12rem;
      }
      &:nth-child(1) {
        justify-content: flex-start;
      }
      &:nth-child(2) {
        justify-content: center;
        margin-right: 25rem;
        .icon {
          margin-right: 6vw;
          bottom: 1rem;
        }
      }
      &:nth-child(3) {
        justify-content: flex-end;
        margin-right: 5rem;
        .icon {
          transform: rotate(18deg);
          margin-right: 6vw;
          bottom: 4rem;
        }
      }

      .text {
        display: flex;
        align-items: center;
        gap: 2rem;
        h5 {
          font-family: "Inter", sans-serif;
          font-weight: 700;
        }
        p {
          max-width: 300px;
        }
      }
    }
  }
}
