@import "../../styles/abstracts/variables.scss";

.section {
  margin-top: 100px;
  @media (max-width: $tablet) {
    margin-top: 75px;
  }
  .header {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    .right {
      position: absolute;
      top: 1rem;
      left: 50%;
      right: 2rem;
      height: 3rem;
      border-right: 1px solid $grey;
      border-top: 1px solid $grey;
      border-bottom: 1px solid $grey;
      z-index: -1;
      @media (max-width: $tablet) {
        display: none;
      }
    }
    .left {
      position: absolute;
      top: 1rem;
      left: 2rem;
      right: 50%;
      height: 3rem;
      border-left: 1px solid $grey;
      border-top: 1px solid $grey;
      border-bottom: 1px solid $grey;
      z-index: -1;
      @media (max-width: $tablet) {
        display: none;
      }
    }

    .title {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      @media (max-width: $tablet) {
        gap: 2px;
      }
      span {
        display: flex;
        position: relative;
        font-family: "Inter", sans-serif;
        font-weight: 700;
        background-color: $background;
        padding: 0 2rem;
        @media (max-width: $tablet) {
          background-color: transparent;
        }
        &.orange {
          color: $orange;
        }
      }
    }
  }
  .steps {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .block {
      position: relative;
      display: flex;
      align-items: center;
      gap: 2rem;
      @media (max-width: $mobile) {
        display: flex;
        flex-direction: column;
      }
      .icon {
        position: relative;
        height: 12rem;
        @media (max-width: $mobile) {
          display: none;
        }
      }
      &:nth-child(1) {
        justify-content: flex-start;
      }
      &:nth-child(2) {
        justify-content: center;
        margin-right: 25rem;
        @media (max-width: $tablet) {
          justify-content: flex-start;
          margin: 0;
        }
        .icon {
          margin-right: 6vw;
          bottom: 1rem;
          @media (max-width: $tablet) {
            margin-right: 0px;
            margin-left: 25px;
            bottom: 40px;
            width: 120px;
            transform: rotate(30deg);
          }
        }
      }
      &:nth-child(3) {
        justify-content: flex-end;
        margin-right: 5rem;
        @media (max-width: $tablet) {
          margin: 0;
        }
        .icon {
          transform: rotate(18deg);
          margin-right: 6vw;
          bottom: 4rem;
          @media (max-width: $tablet) {
            margin: 0;
            bottom: 50px;
            width: 100px;
            transform: rotate(40deg);
          }
        }
      }

      .text {
        display: flex;
        align-items: center;
        gap: 2rem;
        @media (max-width: $mobile) {
          flex-direction: column;
          align-items: flex-start;
          gap: 10px;
        }
        h5 {
          font-family: "Inter", sans-serif;
          font-weight: 700;
        }
        .link {
          color: $green;
          font-weight: 500;
        }
        p {
          max-width: 300px;
          @media (max-width: $mobile) {
            max-width: none;
          }
        }
      }
    }
  }
}
