@import "../../styles/abstracts/variables.scss";

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 3rem;
  width: 175px;
  border-left: 1px solid $green;
  color: $green;
  .icon {
    width: 1.25rem;
    height: 1.25rem;
  }
  p {
    line-height: 1;
    font-weight: 500;
  }
}
