@import "../../styles/abstracts/variables.scss";

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 175px;
  padding-right: 8px;
  gap: 8px;
  border-left: 1px solid $green;
  background: $background;
  color: $green;
  cursor: pointer;
  font-weight: 500;
  .text {
    position: relative;
    text-align: center;
    line-height: 1;
    &::after {
      position: absolute;
      right: -8px;
      bottom: -3px;
      content: "";
      height: 1px;
      width: 100%;
      opacity: 0;
      background: currentColor;
      transition: all 0.15s;
      transition-timing-function: cubic-bezier(0.42, 0.5, 0.39, 1);
    }
  }
  .icon {
    position: relative;
    width: 1.2rem;
    height: 1.2rem;
  }
  &:hover .icon {
    animation: shake 0.4s ease-in-out;
  }
  &:hover .text::after {
    right: 0px;
    opacity: 1;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px) rotate(-8deg);
  }
  50% {
    transform: translateX(0) rotate(0);
  }
  75% {
    transform: translateX(2px) rotate(8deg);
  }
  100% {
    transform: translateX(0) rotate(0);
  }
}
