@import "../../styles/abstracts/variables.scss";

.container {
  display: flex;
  align-items: center;
  margin-right: 5px;
  .fontsize {
    display: flex;
    flex-direction: column;
    gap: 2px;
    .small,
    .medium,
    .large {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 3rem;
      width: 3rem;
      background-color: $background;
      border: 1px solid $green;
      z-index: 5;
      will-change: auto;
      .text {
        color: $green;
      }
      &.active {
        z-index: 10;
      }
    }
    .small .text {
      font-size: 1rem;
      font-weight: 400;
    }
    .medium .text {
      font-size: 1.15rem;
      font-weight: 500;
    }
    .large .text {
      font-size: 1.35rem;
      font-weight: 500;
    }
  }
}
