@import "../../styles/abstracts/variables.scss";

.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 10;
  background-color: $background;
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    margin-top: 10px;
    margin-bottom: 5px;
    .svg {
      height: 20px;
      fill: #1d1d1b;
    }
    .icon {
      color: $green;
    }
  }
  .right {
    display: flex;
    align-items: center;
    gap: 6px;
    .links {
      display: flex;
      align-items: center;
      gap: 6px;
    }

    .profile,
    .link {
      color: $green;
      &.active {
        background-color: $beige;
        color: $green;
      }
    }
    .profile {
      width: $heightButton;
      border: 1px solid $beige;
    }
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px) rotate(-8deg);
  }
  50% {
    transform: translateX(0) rotate(0);
  }
  75% {
    transform: translateX(2px) rotate(8deg);
  }
  100% {
    transform: translateX(0) rotate(0);
  }
}
