@import "../../../../styles/abstracts/variables.scss";

.container {
  display: flex;
  height: 3rem;
  width: 100%;
  .block,
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
    height: 100%;
    .text {
      text-align: center;
      line-height: 1;
      font-weight: 600;
    }
    .icon {
      position: relative;
      width: 1.3rem;
      height: 1.3rem;
      .svg {
        width: 100%;
        height: 100%;
      }
    }
  }

  .block {
    background-color: $beige;
    color: $green;
    border-top: 1px solid $green;
  }

  .button {
    background-color: $green;
    color: white;
    .text {
      position: relative;
      &::after {
        position: absolute;
        left: -4px;
        bottom: -4px;
        content: "";
        height: 1px;
        width: 100%;
        opacity: 0;
        background: currentColor;
        transition: all 0.15s;
        transition-timing-function: cubic-bezier(0.42, 0.5, 0.39, 1);
      }
    }
    &:hover .icon {
      animation: shake 0.4s ease-in-out;
    }
    &:hover .text::after {
      left: 0px;
      opacity: 1;
    }
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px) rotate(-8deg);
  }
  50% {
    transform: translateX(0) rotate(0);
  }
  75% {
    transform: translateX(2px) rotate(8deg);
  }
  100% {
    transform: translateX(0) rotate(0);
  }
}
