@import "../../../../styles/abstracts/variables.scss";

.container {
  display: flex;
  width: 100%;
  padding: 4px;
  .block {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
    height: $heightButton;
    border: 1px solid $green;
    color: $green;
    .text {
      text-align: center;
      line-height: 1;
      font-weight: 600;
    }
    .icon {
      position: relative;
      width: 1.3rem;
      height: 1.3rem;
    }
  }

  .buttongreen {
    background-color: $green;
    color: white;
    width: 100%;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px) rotate(-8deg);
  }
  50% {
    transform: translateX(0) rotate(0);
  }
  75% {
    transform: translateX(2px) rotate(8deg);
  }
  100% {
    transform: translateX(0) rotate(0);
  }
}
