@import "../../../styles/abstracts/variables.scss";

.container {
  padding-bottom: 2rem;
  padding-top: 100px;
  h3 {
    margin-bottom: 1rem;
  }
  .works {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    gap: 1rem;
    .morereview {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 6px;
      background-color: $green;
      color: white;
      max-width: 175px;
      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 2;
        border: 1px solid $background;
        transition: all 0.3s;
        transition-timing-function: cubic-bezier(0.42, 0.5, 0.39, 1);
      }
      &:hover::after {
        width: 90%;
        height: 90%;
        opacity: 1;
      }
      &:hover .icon {
        animation: shake 0.4s ease-in-out;
      }
      .text {
        font-size: 1.15rem;
        font-weight: 600;
      }
      .icon {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
  .firstreview {
    background-color: $beige;
    max-width: 500px;
    .content {
      padding: 1rem;
      .title {
        font-size: 1.25rem;
        font-weight: 600;
        margin-bottom: 6px;
      }
    }

    .action {
      padding: 4px;
      .button {
        background-color: $green;
        color: white;
        width: 100%;
      }
    }
  }
  .review {
    .addreview {
      background-color: $green;
      color: white;
      width: 400px;
    }
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px) rotate(-8deg);
  }
  50% {
    transform: translateX(0) rotate(0);
  }
  75% {
    transform: translateX(2px) rotate(8deg);
  }
  100% {
    transform: translateX(0) rotate(0);
  }
}
