@import "../../../styles/abstracts/variables.scss";

.container {
  position: relative;
  .block {
    width: 100%;
    padding: 4px;
    &.one {
      display: flex;
      align-items: center;
      justify-content: center;
      .buttonbrown,
      .buttongreen {
        width: 100%;
      }
    }
    .buttonbrown,
    .buttongreen {
      color: white;

      width: 100%;
    }
    .buttonbrown {
      background-color: $brown;
    }
    .buttongreen {
      background-color: $green;
    }
    .message {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: $heightButton;
      color: $green;
      border: 1px solid $green;
      gap: 8px;
      .text {
        text-align: center;
        line-height: 1;
        font-weight: 500;
      }
      .icon {
        width: 1.25rem;
        height: 1.25rem;
      }
    }
  }
}
