@import "../styles/abstracts/variables.scss";

.container {
  display: flex;
  flex-direction: column;
  border: 2px solid $green;
  height: 100%;
  .menu {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 8px;
    .promt {
      position: absolute;
      left: 4px;
      top: 4px;
      right: 4px;
      z-index: 5;
      height: 100%;
      background-color: $background;
      padding: 1rem;
      display: flex;
      align-items: flex-end;
      gap: 1rem;
      .content {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        .hint {
          font-size: 0.9rem;
          color: $grey;
          line-height: 1;
        }
        .url {
          border-bottom: 1px solid $green;
          padding: 6px 10px;
          padding-left: 0px;
        }
      }
      .action {
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }
    .button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
      padding: 6px 10px;
      background-color: $beige;
      color: $green;
      transition: all 0.2s;
      .text {
        font-size: 0.9rem;
        font-weight: 500;
      }
      .icon {
        width: 15px;
        height: 15px;
      }
      &.active {
        background-color: $green;
        color: white;
      }
    }
  }

  .editor {
    height: 100%;
    padding: 2rem;
    padding-top: 1rem;
    .input {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 5px;
      border: none;
      outline: none;
      min-height: 150px;
      height: 100%;
      overflow-y: auto;
      &::-webkit-scrollbar {
        width: 4px;
      }
      &::-webkit-scrollbar-track {
        background-color: transparent;
        margin: 10px 0px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: $green;
        border-radius: 5px;
      }
      h1 {
        font-size: 1.25rem;
        font-weight: 700;
      }
      h2 {
        font-size: 1.15rem;
        font-weight: 600;
      }
      img {
        padding: 4px;
        border: 1px solid $green;
        margin-bottom: 10px;
      }
      strong {
        font-weight: 600;
      }
      em {
        font-style: italic;
      }
      ol {
        display: flex;
        flex-direction: column;
        gap: 4px;
        padding-left: 30px;
        li {
          list-style: decimal;
        }
      }
      mark {
        background-color: $yellow;
      }
      blockquote {
        padding: 15px 20px 15px 30px;
        width: calc(100% - 15px);
        border: 1px solid $green;
        border-left: 4px solid $green;
      }
    }
  }
}

.add,
.close {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 6px 10px;
  transition: all 0.2s;
  .text {
    font-size: 0.9rem;
    font-weight: 500;
  }
  .icon {
    width: 15px;
    height: 15px;
  }
}
.add {
  background-color: $green;
  color: white;
}
.close {
  background-color: $beige;
  color: $green;
}
