@import "../../../styles/abstracts/variables.scss";

.container {
  display: flex;
  flex-direction: column;
  .head {
    display: flex;
    flex-direction: column;
    gap: 8px;
    .title {
      overflow: hidden;
      height: 2rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      h4,
      h5 {
        transform-origin: center bottom;
        transform-style: preserve-3d;
        will-change: auto;
      }
    }
    .subtitle {
      display: flex;
      flex-direction: column;
      gap: 8px;
      max-width: 500px;
      span {
        font-weight: 600;
        color: $green;
      }
    }
  }
  .list {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    .theme {
      h6 {
        margin-bottom: 1rem;
      }
      .item {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
    }
    .selected {
      display: flex;
      align-items: center;
      height: $heightButton;
      width: 350px;
      overflow: hidden;
      .check {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 3rem;
        background-color: $green;
        .icon {
          width: 1.25rem;
          height: 1.25rem;
          color: white;
        }
      }
      .name {
        width: 100%;
        margin-right: -$heightButton;
        color: $green;
        font-weight: 500;
        padding: 0 1rem;
        font-weight: 500;
        text-align: start;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.edit {
  background: $green;
  color: white;
  margin-top: 8px;
  margin-bottom: 50px;
}
