@import "../../../styles/abstracts/variables.scss";

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .head {
    display: flex;
    flex-direction: column;
    gap: 5px;
    .title {
      overflow: hidden;
      h4,
      h5 {
        display: block;
      }
    }
  }
  .block {
    display: flex;
    flex-direction: column;
    gap: 5px;
    h6 {
      margin-bottom: 10px;
    }
    .noactiveexpert {
      margin-bottom: 10px;
    }
    .list {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }
}
