@import "../../../styles/abstracts/variables.scss";

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  overflow: hidden;
  will-change: auto;
}

.next,
.select {
  border: 1px solid $green;
  width: 100%;
  transition: all 0.3s;
  svg {
    transition: transform 0.3s;
    transition-delay: 0.1s;
  }
}

.next {
  background-color: $green;
  color: white;
  svg {
    transform: rotate(0deg);
  }
}

.select {
  color: $green;
  background-color: $background;
  pointer-events: none;
  svg {
    transform: rotate(-90deg);
  }
}
