@import "../../styles/abstracts/variables.scss";

.container {
  display: grid;
  grid-template-columns: 14rem 1fr;
  transition: grid-template-columns 0.5s cubic-bezier(0.23, 0.67, 0.58, 1);
  will-change: auto;
  &.edited {
    grid-template-columns: 3.5rem 1fr;
    .navigate {
      .back,
      .save {
        border: 1px solid $green;
      }
    }
  }
  .link {
    display: flex;
    align-items: center;
    height: 3.5rem;
    padding: 0 1rem;
    font-size: $regulartext;
    border: 1px solid $green;
    border-left: none;
    transition: all 0.4s;
    input {
      width: 100%;
      height: 100%;
      font-weight: 500;
      color: $green;
      &::placeholder {
        color: $green;
        transition: all 0.3s;
      }
    }
  }

  .edit {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background: $green;
    padding-right: 12px;
    color: white;
    .text {
      position: relative;
      font-size: $regulartext;
      line-height: 1;
      font-weight: 500;
      &::after {
        position: absolute;
        right: -4px;
        bottom: -4px;
        content: "";
        height: 2px;
        width: 100%;
        opacity: 0;
        background: currentColor;
        transition: all 0.15s;
        transition-timing-function: cubic-bezier(0.42, 0.5, 0.39, 1);
      }
    }
    .icon {
      position: relative;
      bottom: 1px;
      width: 1.5rem;
      height: 1.5rem;
      .svg {
        width: 100%;
        height: 100%;
      }
    }
    &:hover .text::after {
      right: 0px;
      opacity: 1;
    }
  }

  .back,
  .save {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .back {
    border: 1px solid $green;
    color: $green;
    .icon {
      width: 1.5rem;
      height: 1.5rem;
      .svg {
        width: 100%;
        height: 100%;
      }
    }
  }
  .save {
    background-color: $beige;
    transition: background-color 0.3s;
    pointer-events: none;
    .icon {
      width: 1.5rem;
      height: 1.5rem;
      .svg {
        color: $green;
        width: 100%;
        height: 100%;
        transition: color 0.3s;
      }
      .load {
        color: white;
        width: 100%;
        height: 100%;
      }
    }
    &.active {
      background-color: $green;
      pointer-events: all;
      .icon .svg {
        color: white;
      }
    }
  }
}

.save,
.back,
.edit {
  &:hover .icon .svg {
    animation: shake 0.4s ease-in-out;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px) rotate(-8deg);
  }
  50% {
    transform: translateX(0) rotate(0);
  }
  75% {
    transform: translateX(2px) rotate(8deg);
  }
  100% {
    transform: translateX(0) rotate(0);
  }
}
