@import "../../styles/abstracts/variables.scss";

.container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 50;
    background-color: $background;
    .content {
        width: 100%;
        height: 100%;

        iframe {
            width: 100%;
            height: 100%;
            @media (max-width: $tablet) {
                height: calc(100% + 10px);
            }
            body {
                -ms-overflow-style: none;
                overflow: -moz-scrollbars-none;

                &::-webkit-scrollbar {
                    width: 0px;
                }
            }
        }
    }
    .close {
        position: absolute;
        bottom: 20px;
        right: 12px;
        min-width: 200px;
        width: auto;
        background-color: $background;
        border: 2px solid $green;
        color: $green;
        z-index: 15;
        @media (max-width: $tablet) {
            width: auto;
            right: 0px;
            left: 0px;
            bottom: 0;
            height: 53px;
            border: none;
            border-top: 1px solid $green;
        }
    }
}
