@import "../../../styles/abstracts/variables.scss";

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 8px;
        .item {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 1rem;
            background-color: #e9e1ce;
            width: 100%;
            .head {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
                padding: 1rem;
                .name {
                    font-weight: 600;
                    font-size: 1.2rem;
                }
                .contact {
                    display: flex;
                    flex-direction: column;
                    a {
                        font-weight: 600;
                        color: $green;
                    }
                }
            }
            .state {
                display: flex;
                width: 100%;
                padding: 4px;
            }
        }
    }
}

.content {
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem;
    height: 100%;
    width: 700px;
    overflow-y: auto;
    padding: 30px 50px;
    padding-right: 40px;
    margin-right: 2px;
    .user {
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;
        .name {
            font-size: 1.2rem;
            font-weight: 600;
            margin-bottom: 4px;
        }
        a {
            font-weight: 600;
            color: $green;
        }
    }
    .answers {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-bottom: 25px;
        .question {
            font-weight: 600;
        }
    }
    .annotation {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .frame {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 15px;
        margin-top: 25px;
        input {
            display: flex;
            line-height: 1;
            height: $heightButton;
            width: 100%;
            padding: 0 15px;
            border: 2px solid $green;
            font-weight: 500;
            margin-bottom: 10px;
        }
        iframe {
            overflow: hidden;
        }
    }
}

.action {
    width: 100%;
    background-color: #f3eee1;
    padding: 20px 50px;
    padding-right: 45px;
    border-top: 1px solid #4e8a7f;
}
