@import "../../../styles/abstracts/variables.scss";

.work {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .name {
    font-weight: 300;
    font-size: 0.9rem;
  }
  .mail {
    font-weight: 500;
    color: $green;
  }
  .link {
    margin-top: 10px;
    margin-bottom: 10px;
    color: $green;
    font-weight: 600;
    font-size: 1.15rem;
  }
}

.message {
  width: 100%;
  margin-top: 2rem;
  .title {
    font-weight: 600;
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
  .area {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $green;
    margin-bottom: 1rem;
    textarea {
      width: 100%;
      height: 100%;
      resize: none;
      padding: 1rem;
    }
  }
}

.link,
.mail {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 1px;
    background: currentColor;
    transition: all 0.3s;
  }
  &:hover::after {
    width: 100%;
  }
}

.send {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3rem;
  padding-right: 12px;
  gap: 8px;
  color: white;
  background-color: $green;
  cursor: pointer;
  font-weight: 500;
  border: 1px solid $green;
  &:hover .icon .svg {
    animation: shake 0.4s ease-in-out;
  }
  &:hover .text::after {
    right: 0px;
    opacity: 1;
  }
  .text {
    position: relative;
    text-align: center;
    line-height: 1;
    font-weight: 600;
    color: white;
    &::after {
      position: absolute;
      right: -4px;
      bottom: -4px;
      content: "";
      height: 1px;
      width: 100%;
      opacity: 0;
      background: currentColor;
      transition: all 0.15s;
      transition-timing-function: cubic-bezier(0.42, 0.5, 0.39, 1);
    }
  }
  .icon,
  .load {
    width: 1.3rem;
    height: 1.3rem;
    svg {
      width: 100%;
      height: 100%;
    }
  }
  &.loading {
    background-color: $background;
    color: $green;
    cursor: auto;
    pointer-events: none;
    .text {
      color: $green;
    }
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px) rotate(-8deg);
  }
  50% {
    transform: translateX(0) rotate(0);
  }
  75% {
    transform: translateX(2px) rotate(8deg);
  }
  100% {
    transform: translateX(0) rotate(0);
  }
}
