@import "../../../styles/abstracts/variables.scss";

.container {
  border-top: 1px solid $green;
  padding-top: 2rem;
  padding-bottom: 2rem;
  h4 {
    margin-bottom: 1rem;
  }
  .works {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
}
