@import "../../../styles/abstracts/variables.scss";

.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  .links {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .theme {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
      }
    }
  }
}
