@import "../../../styles/abstracts/variables.scss";

.toggle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 200px;
  background-color: $background;
  border: 1px solid $brown;
  padding: 2px;
  cursor: pointer;
  &.active {
    border: 1px solid $green;
    .label {
      color: $green;
      margin-left: auto;
      margin-right: 2.5rem;
    }
    .handle {
      right: 2px;
      left: auto;
      border: 1px solid $green;
      .icon {
        color: $green;
      }
    }
  }
  .label {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: $brown;
    margin-left: 2.5rem;
    font-weight: 500;
    z-index: 4;
  }
  .handle {
    position: absolute;
    left: 2px;
    top: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(3rem - 6px);
    height: calc(3rem - 6px);
    border: 1px solid $brown;
    background-color: $background;
    z-index: 5;
    transition: border 0.3s;
    .icon {
      color: $brown;
      width: 1.25rem;
      height: 1.25rem;
    }
  }
}
