@import "../abstracts/variables.scss";

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2rem;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  z-index: 100;
  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $background;
    z-index: -1;
    will-change: auto;
  }
  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    transform-origin: right;
    margin: 0;
    background-color: $background;
    border-left: 1px solid $green;
    overflow: auto;
    will-change: auto;
    &::-webkit-scrollbar {
      width: 0px;
    }
  }
}

.buttontext {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  height: $heightButton;
  transition: all 0.3s;
  transition-timing-function: cubic-bezier(0.42, 0.5, 0.39, 1);
  .text {
    position: relative;
    text-align: center;
    font-weight: 500;
    line-height: 1;
    &::after {
      position: absolute;
      right: 0px;
      bottom: -6px;
      content: "";
      height: 1px;
      width: 100%;
      opacity: 0;
      background: currentColor;
      transition: all 0.15s;
      transition-timing-function: cubic-bezier(0.42, 0.5, 0.39, 1);
    }
  }
  &:hover .text::after {
    bottom: -3px;
    opacity: 1;
  }
}

.buttoncenter,
.buttonwide {
  display: flex;
  align-items: center;
  height: $heightButton;
  gap: 8px;
  padding: 0 1rem;
  cursor: pointer;
  transition: all 0.3s;
  transition-timing-function: cubic-bezier(0.42, 0.5, 0.39, 1);
  .text {
    position: relative;
    text-align: center;
    line-height: 1;
    font-weight: 500;
    &::after {
      position: absolute;
      left: -5px;
      bottom: -3px;
      content: "";
      height: 1px;
      width: 100%;
      opacity: 0;
      background: currentColor;
      transition: all 0.15s;
      transition-timing-function: cubic-bezier(0.42, 0.5, 0.39, 1);
    }
  }
  .icon,
  .load {
    width: 1.25rem;
    height: 1.25rem;
  }
  .load .svg {
    width: 100%;
    height: 100%;
  }
  &:hover .icon {
    animation: shake 0.4s ease-in-out;
  }
  &:hover .text::after {
    left: 0px;
    opacity: 1;
  }
}

.buttonwide {
  justify-content: space-between;
}

.buttoncenter {
  justify-content: center;
}

.buttonicon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $heightButton;
  cursor: pointer;
  .icon,
  .load {
    width: 1.15rem;
    height: 1.15rem;
  }
  &:hover .icon {
    animation: shake 0.4s ease-in-out;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px) rotate(-8deg);
  }
  50% {
    transform: translateX(0) rotate(0);
  }
  75% {
    transform: translateX(2px) rotate(8deg);
  }
  100% {
    transform: translateX(0) rotate(0);
  }
}

.htmltext {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
    margin: 0px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $green;
    border-radius: 5px;
  }
  h1 {
    font-size: 1.25rem;
    font-weight: 700;
  }
  h2 {
    font-size: 1.15rem;
    font-weight: 600;
  }
  strong {
    font-weight: 600;
  }
  em {
    font-style: italic;
  }
  img {
    padding: 2px;
    border: 1px solid $green;
    margin-bottom: 10px;
  }
  ol {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-left: 30px;
    li {
      list-style: decimal;
    }
  }
  mark {
    background-color: $yellow;
  }
  blockquote {
    padding: 15px 20px 15px 30px;
    width: 100%;
    border: 1px solid $green;
    border-left: 4px solid $green;
    width: calc(100% - 15px);
  }
}
