body {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  &.modal-open {
    height: 100vh;
    overflow-y: hidden;
  }
  &::-webkit-scrollbar {
    width: 0px;
  }
}

section {
  min-height: calc(100vh - 10rem);
}

.container {
  max-width: 1400px;
}

.checklist {
  display: flex;
  flex-direction: column;
  background-color: $beige;
  padding: 35px;
  margin-right: -35px;
  margin-left: -35px;
  gap: 1rem;
  margin-top: 1rem;
  ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
  }
  li,
  p {
    font-size: $regulartext;
    line-height: 1.4rem;
  }
  .list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    p {
      position: relative;
      display: flex;
      align-items: flex-start;
    }
  }
}
