body {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  &.modal-open {
    height: 100vh;
    overflow-y: hidden;
  }
  &::-webkit-scrollbar {
    width: 0px;
  }
}

section {
  min-height: calc(100vh - 10rem);
}

.container {
  max-width: 1400px;
}
